body {
    background: linear-gradient(#0D0630, #384E77);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
	display: flex;
	align-items: center;
	align-content: center;
}

.link-volver {
    color: red; 
	position: relative;
    transition: transform 0.3s ease;
}

.link-volver i {
    color: #0D0630;
	
}

.link-volver:hover {
    transform: translateX(-5px);
}
.container {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: WHITE;
	
}

.container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font color: green;
}

.container button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #18314f;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}


